/* General */
body {
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    overflow: hidden;
}

/* Video de fondo */
video#videoBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Encabezado */
header {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    text-align: center;
    z-index: 1;
}

h1 {
    font-size: 3em;
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
}

section.contenido {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.contenido a {
    font-size: 1.2em;
    color: #fff;
    text-decoration: none;
    margin: 0 150px;
    
}

section.contenido a:hover {
    color: #007BFF;
    text-decoration: underline;
    box-shadow: 0 0px 20px rgba(0, 255, 255, 0.8);
}

/* Contenedor de imágenes */
.image-container {
    position: absolute;
    bottom: 5px;
    right: 0px;
    width: 500px;
    height: 500px;
}

.image-container img {
    position:    absolute;
    width: 100%;
    height: 100%;
    transition: opacity 1s ease-in-out;
}


.personal-info {
    background-color: #00081fb7;
    border: 2px solid #00ffff;
    padding: 20px;
    border-radius: 15px;
    max-width: 400px; /* Ajustar el ancho máximo del contenedor */
    box-shadow: 0 0 50px rgba(0, 213, 255, 0.5);
    color: #00eaff;
    font-family: 'Courier New', Courier, monospace;
    z-index: 1;
    position: fixed;
    top: 35vh;
    right: 68vw;
}

.skills{
    background-color: #00081fb7;
    border: 2px solid #00ffff;
    padding: 20px;
    border-radius: 15px;
    max-width: 400px; /* Ajustar el ancho máximo del contenedor */
    box-shadow: 0 0 50px rgba(0, 213, 255, 0.5);
    color: #00eaff;
    font-family: 'Courier New', Courier, monospace;
    z-index: 1;
    position: fixed;
    top: 35vh;
    right: 35vw;
}

h2 {
    border-bottom: 2px solid #00c8ff;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.skill-bar {
    background-color: #00164d;
    border: 1px solid #00ffe5;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: -2px;
}

.skill-progress {
    background-color: #00ffffb7;
    height: 20px;
    border-radius: 10px 0 0 10px;
}


/* Bloque de datos personales */
.personal-info {
    width: 50%; /* Ajustamos el tamaño a 45% */
}

/* Bloque de habilidades */
.skills {
    width: 100%; /* Ajustamos el tamaño a 45% */
}

/* Pie de página */
footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}